<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css"/>

  
  {% include meta.html %}
</head>
<body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.author.name }}",
  "url": "{{ site.url }}",
  "jobTitle": "{{ site.author.title }}",
  "sameAs": [
    "https://github.com/{{ site.data.social.github }}",
    "https://linkedin.com/in/{{ site.data.social.linkedin }}"
  ],
  "knowsAbout": [
    "Unity",
    "C#",
    "Game Development",
    "Gameplay Systems",
    "Tools Development",
    "Optimization"
  ]
}
</script>
</body>
</html>
