<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ site.author.name }} | {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/sub-style.css">
  {% for customcss in page.custom-css %}
  <link rel="stylesheet" href="/assets/css/{{customcss}}">
  {% endfor %}

  {% include meta.html %}
</head>
<body>


{% include header.html %}


<section class="hero">
    <img src="{{ page.image }}" class="hero-bg" />
    <div class="hero-content">
        <h1>{{ page.title }}</h1>
        <p class="subtitle">{{ page.description }}</p>
        {% if page.link %}
        <a class="cta" href="{{ page.link.url }}" target="_blank">
            {{ page.link.text }}
        </a>
        {% endif %}
    </div>
</section>

<section class="section-pad">
    <div class="wrap">
        <a href="/#projects" class="back-link">← All Projects</a>

        <!-- QUICK INFO -->
        <div class="grid-3 info-cards">
            <div>
                <h4>Role</h4>
                <p>{{ page.role }}</p>
            </div>
            <div>
                <h4>Tech</h4>
                <p>
                  {% for tech in page.tech %}{% if forloop.index != 1 %}, {% endif %}{{ tech }}{% endfor %}
                </p>
            </div>
            {% if page.genre %}
            <div>
                <h4>Genre</h4>
                <p>{{ page.genre }}</p>
            </div>
            {% endif %}
        </div>
  
    {{ content }}
  

    </div>
</section>

  {% include footer.html %}
  
</body>
</html>
